<strong>Olá, {{ provider }}!</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{ user }}<br/>Data/Hora: {{ date }}</strong>
</p>
<small>
  O horário está disponível para novos agendamentos.
</small>
<br />
